# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: "Build"

"on":
  pull_request:
  push:

  workflow_dispatch:
    inputs:
      upload_release_file:
        type: boolean
        required: true
        description: Upload generated release file as an artifact.

      release_version:
        type: string
        default: ""
        required: true
        description: Use this string as version in the application.

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install kubectl.
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede # v4.0.1

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Lint
        env:
          PYTHONUNBUFFERED: "true"
        run: |
          ./test.sh || exit "$?"

      - name: Upload release artifact
        if: "${{ github.event.inputs.upload_release_file == 'true' }}"
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: release
          path: argocd-renderer.py
